<div class="container">
    <div class="row">
        <ng-container *ngFor="let e of events">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <img [src]="e.eventImage" class="card-img-top" height="270" width="150">
                </div>
                <div class="card-body" *ngIf="!e.eventEdit">
                    <h4 class="card-title">{{e.eventDescription}}</h4>
                    <p class="card-text">Company:{{e.eventCompany}}</p>
                    <p class="card-text">Price:{{e.eventPrice | currency:'INR'}}</p>
                </div>
                <div class="card-body" *ngIf="e.eventEdit">
                    <input type="text"name="e" [(ngModel)]="e.eventDescription">
                    <input type="text"name="e" [(ngModel)]="e.eventCompany">
                    <input type="text"name="e" [(ngModel)]="e.eventPrice">
                </div>
               <div>
                <button class="btn btn-primary" *ngIf="!e.eventEdit" (click)="toUpdate(e)">Update</button>
                <button class="btn btn-success" *ngIf="e.eventEdit" (click)="toSave(e)">Save</button>
                <button class="btn btn-warning"  (click)="delete(e)">Delete</button>
               </div>
            </div>
        </div>
        </ng-container>
    </div>
</div>



