<div class="container">
    <div class="row">
        <h1>Sample Food Menu</h1>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/paneer.jpg"height="150"width="200"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Paneer Keema Sandwich</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/veggrill.jpg"height="150"width="200"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Veg Grill Sandwich</h6>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/chickenkeema.jpg"height="150"width="200"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Chicken Keema Sandwich</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/frenchfries.jpeg"height="150"width="200"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Classic French Fries</h6>
        </div>
    </div>
</div><div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/chickenburger.jpg"height="150"width="200"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Chicken Zinger burger</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/friedchickenpizza.jpg"height="150"width="200"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Fried Chicken Pizza</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/paneerpopcorn.jpg"height="150"width="200"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Paneer Popcorn platter</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/cheese.jpeg"height="150"width="200"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Cheese Corn Wrap</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/chickenwings.jpeg"height="150"width="200"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Chicken Wings</h6>
        </div>
    </div>
</div>
</div>
</div>
<div class="col-md-8">
    <router-outlet></router-outlet>
</div>
