<div class="container">
    <div class="row">
        <h1>Cakes</h1>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/vanillacake.jpg"height="200"width="250"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Vanilla Cake</h6>
            <h6>Price:500</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/strawberrycake.jpg"height="200"width="250"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Straberry Cake</h6>
            <h6>Price:550</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/pineapplecake.jpg"height="200"width="250"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>pineapple Cake</h6>
            <h6>Price:550</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/chocolatecake.jpg"height="200"width="250"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>chocolate Cake</h6>
            <h6>Price:600</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/blackforestcake.jpg"height="200"width="250"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>blackforest Cake</h6>
            <h6>Price:600</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/blueberrycake.jpg"height="200"width="250"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Blueberry Cake</h6>
            <h6>Price:650</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/chocolatetrufflecake.png"height="200"width="250"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Chocolate Truffle Cake</h6>
            <h6>Price:700</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/almondcrunchcake.jpeg"height="200"width="250"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>almondcrunch Cake</h6>
            <h6>Price:650</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/dryfruitcake.jpg"height="200"width="250"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Dry Fruit Cake</h6>
            <h6>Price:650</h6>
        </div>
    </div>
</div>
</div>
</div>