<div class="container">
    <div class="row">
        <h1>Bouquets</h1>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/singleflower.jpg"height="200"width="250"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Single Rose</h6>
            <h6>Price:50</h6>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="/assets/rosebouquet.png"height="200"width="250"class="rounded-circle">
        </div>
        <div class="card-footer">
            <h6>Rose Bouquet</h6>
            <h6>Price:349</h6>
        </div>
    </div>
</div>
</div>
</div>
