<div class="container">
    <div class="row">
        <h1 class="text-center">Choose your theater in Hitech City</h1>
        <div class="col-md-4">
            <div class="side-img">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/image5.jpg"height="350"width="350">
                </div>
                <div class="card-body">
                   <a href=""><h5 class="text-center">Platinum Theatre</h5></a>
                    <p class="text-center">₹2799 for 6 or less people<br> (Rs 400 per extra person)</p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="side-img">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/image6.jpg"height="350"width="350">
                </div>
                <div class="card-body">
                    <a href=""><h5 class="text-center">Magestic Theatre</h5></a>
                    <p class="text-center">₹2699 for 6 or less people<br> (Rs 400 per extra person)</p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="side-img">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/image8.jpg"height="350"width="350">
                </div>
                <div class="card-body">
                    <a href=""><h5 class="text-center">Scarlet Theatre(couple)</h5></a>
                    <p class="text-center">₹1499 for 2 people<br> (Decorations mandatory)</p>
                </div>
            </div>
            </div>
        </div>    
                    
</div>

