<div class="container">
    <div class="row">
        <h1 class="text-center">Choose your theater in Miyapur</h1>
        <div class="col-md-4">
            <div class="side-img">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/theater1.jpg"height="350"width="350">
                </div>
                <div class="card-body">
                   <a href=""><h5 class="text-center">Rosaline Theater</h5></a>
                    <p class="text-center">1799 for 4 or less people<br> (Rs 400 per extra person)</p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="side-img">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/theater3.jpg"height="350"width="350">
                </div>
                <div class="card-body">
                   <a href=""><h5 class="text-center">Spectra Theater</h5></a>
                    <p class="text-center">2499 for 6 or less people <br>(Rs 400 per extra person)</p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="side-img">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/theater2.jpg"height="350"width="350">
                </div>
                <div class="card-body">
                   <a href=""><h5 class="text-center">Bliss Theater</h5></a>
                    <p class="text-center">₹1699 for 4 or less people<br> (Rs 400 per extra person)</p>
                </div>
            </div>
            </div>
        </div>
