<div class="container">
  <div class="row">
    <div class="col-md-9">

<div class="myimg">
    <img src="https://static.vecteezy.com/system/resources/previews/022/778/400/non_2x/happy-birthday-background-with-balloons-illustration-ai-generative-free-photo.jpg"height="680"width="1520">
    <h1 class="heading">Welcome to our Website</h1>
    <h3 class="content">Welcome to magic blash, your premier destination for an extraordinary <br>private theatre and event celebration experience. We specialize in <br>providing exclusive private theatres  and enhanced 4K video projection.</h3>
    <button class="bk"><a routerLink="/user/booking/" class="book">Book Now</a></button>
</div>
    
    <div class="top-section">
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
              <div class="card-body">
              <h1>Birthday parties</h1>
              <p>Celebrate your birthday in style with our private theatre experience. Enjoy watching your favorite movies or shows.</p>
            </div>
            </div>
          </div>
    
    <div class="middle-section">
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
              <div class="card-body">
              <h1>Anniversary</h1>
              <p>Mark your milestone anniversary with a romantic<br> and intimate private theatre celebration.</p>
            </div>
            </div>
          </div>
          
          <div class="bottom-section">
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                  <div class="card-body">
                  <h1>Party & Events</h1>
                  <p>Whether it's a reunion, farewell, or any other social gathering, our private theatres provide a unique and exclusive venue</p>
                </div>
                </div>
              </div>
            <div class="ps">
                <h1 class="heading2">Our Branches</h1>
              <div class="bottom-left-section">
                    <h3>Hitec City</h3>
                    <p>Magic Blash- Hitec City, 4th Floor, Meta Towers, Street#5, infront of Treeinn Hytechs hotel, Patrika Nagar, HITEC City, Hyderabad, Telangana, 500081</p>
              
              </div>
              <div class="bottom-right-section">
                      <h3>Miyapur</h3>
                      <p>Magic blash - Miyapur, 4th floor, Miyapur X Road, Mumbai Hwy, above Reliance Trends, opposite KS bakers, Indira Nagar Colony, Miyapur, Hyderabad, Telangana 500049</p>
              </div>
            </div>
            <div class="side-left">
              <h1 class="heading3">Dive into the richness of Dolby Atmos compliant sound systems and enhanced 4k Video</h1>
              <img src="/assets/image4.jpg" class="myimg2"height="320"width="600">
            </div>
          
            <h1 class="myh1">Things to Note</h1>
            <div class="mydiv2">
              <img src="/assets/foodimage.jpg"height="200"width="200"class="rounded-circle">
              <h3>Food & Bevarages</h3>
              <h6>Enjoy delicious in-theatre dining<br> options at affordable prices!</h6>
              <button><a routerLink="/user/food">View More</a></button>
            </div>
            <div class="mydiv3">
              <img src="/assets/cakeimage.jpg"height="200"width="200"class="rounded-circle">
              <h3>Cakes</h3>
              <h6>Choose the perfect cake for your <br> celebration from our selection.</h6>
              <button><a routerLink="/user/cake">View More</a></button>
            </div>
            <div class="mydiv4">
              <img src="/assets/bouquets.png"height="200"width="200"class="rounded-circle">
              <h3>Bouquets</h3>
              <h6>Add a beautiful rose bouquet <br>to enhance your celebration.</h6>
              <button><a routerLink="/user/bouquets">View More</a></button>
            </div>
            <div class="mydiv5">
              <img src="/assets/screenimage.jpg"height="200"width="200"class="rounded-circle">
              <h3>Screening</h3>
              <h6>Bring your own OTT accounts <br>and relive the theatre magic!.</h6>
            </div>
          </div>
        </div>
      </div>

<div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
    
