
<div class="locations">
        <h1 class="text-center">Two Locations in Hyderabad</h1>
        <div class="dt">
        <label for="">Check slot availability</label><input type="date">
       </div>
        <div class="hitec">
        <img src="/assets/hitec.jpg" class="myimg1" height="350"width="350">
        <h3 class="text-center">Hitec City</h3>
        <a href="/user/hiteccity"><p class="text-center">One slot available on 23-04-2024</p></a>
        </div>
        <div class="miya">
        <img src="/assets/miyapurimage.jpg" class="myimg2" height="350"width="350">
        <h3 class="text-center">Miyapur</h3>
        <a href="/user/miyapur"><p class="text-center">One slot available on 23-04-2024</p></a>
        </div>
</div>
    

